<div class="card flex justify-content-center">
    <p-rating [(ngModel)]="value" [stars]="7">
    <ng-template pTemplate="cancelicon">
        <img src="https://primefaces.org/cdn/primeng/images/demo/rating/cancel.png" width="25px" height="25px" />
    </ng-template>
    <ng-template pTemplate="onicon">
        <img src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon-active.png" width="25px" height="25px" />
    </ng-template>
    <ng-template pTemplate="officon">
        <img src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon.png" width="25px" height="25px" />
    </ng-template>
    </p-rating>
</div>
<div class="card flex justify-content-center">
<p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
</div>
